<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="ProgressDlg" Width="493" Height="312" Title="!(loc.ProgressDlg_Title)" Modeless="yes">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="493" Height="58" Text="!(wix.WixUIDialogBmp)" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="58" Width="493" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="493" Height="0" />
        <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Text="Installing Pixel Pulse" />
        <Control Id="Description" Type="Text" X="135" Y="70" Width="220" Height="40" Text="Please wait while Pixel Pulse is being installed..." />
        <Control Id="ProgressBar" Type="ProgressBar" X="20" Y="100" Width="330" Height="15" ProgressBlocks="yes" Text="!(loc.ProgressDlgProgressBar)" />
        <Control Id="StatusLabel" Type="Text" X="20" Y="120" Width="330" Height="10" Text="!(loc.ProgressDlgStatusLabel)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
