<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="WelcomeDlg" Width="493" Height="312" Title="!(loc.WelcomeDlg_Title)">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Condition Action="enable"><![CDATA[NOT Installed]]></Condition>
          <Condition Action="disable"><![CDATA[Installed]]></Condition>
          <Publish Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)">
          <Condition Action="enable"><![CDATA[Installed]]></Condition>
          <Condition Action="disable"><![CDATA[NOT Installed]]></Condition>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Description" Type="Text" X="135" Y="70" Width="220" Height="40" Text="!(loc.WelcomeDlg_Description)" />
        <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Text="Welcome to Pixel Pulse" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="493" Height="58" Text="!(wix.WixUIDialogBmp)" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="58" Width="493" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="493" Height="0" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>
